/* body customizations */
body {
  font-size: 14px;
}
/* navigation bar customizations */
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}
/* section customizations */
section {
  margin: 0 auto;
  width: 60%;
}
/* h1 customizations */
h1 {
  font-family: sans-serif;
  font-size: 2em;
}
/* h3 in example class customizations */
.example h3 {
  padding-top: 30px;
  text-align: center;
}
/* h3 customizations */
h3 {
  font-size: 1.3em;
}
/* element class customizations */
.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
/* customizations for last 3 divs in section */
 div:nth-child(n+7) {
  background-color: purple;
  }
